GlobalGUI/DataEXP/
GlobalGUI/DataEXP/Peaks/
Server_Viewer/DataPeak/
Server_Viewer/Noise/
Server_Viewer/Noise4/
Server_Viewer/Noise10/
Server_Viewer/Noise_Mix/
Server_Viewer/Simulation_Theoric/

Server_Viewer/DataframewithOrder.csv
Server_Viewer/Particles_Data/
Server_Viewer/Temporal_Files/
Server_Viewer/Test_Scripts/

Server_Viewer/Particles_4um_HF0_15ul_4p/
Server_Viewer/Particles_4um_HF5_15ul_4p/
Server_Viewer/Particles_4um_HF10_15ul_4p/
Server_Viewer/Particles_4um_HF20_15ul_4p/

Server_Viewer/Particles_4um_HF0_15ul_2p/
Server_Viewer/Particles_4um_HF5_15ul_2p/
Server_Viewer/Particles_4um_HF10_15ul_2p/
Server_Viewer/Particles_4um_HF20_15ul_2p/

Server_Viewer/Particles_4um_HF0_15ul_10p/
Server_Viewer/Particles_4um_HF5_15ul_10p/
Server_Viewer/Particles_4um_HF10_15ul_10p/
Server_Viewer/Particles_4um_HF20_15ul_10p/

Server_Viewer/Particles_4um_HF0_15ul_25p/
Server_Viewer/Particles_4um_HF5_15ul_25p/
Server_Viewer/Particles_4um_HF10_15ul_25p/
Server_Viewer/Particles_4um_HF20_15ul_25p/
GlobalGUI/Particles_Data/
PyCAM_venv/